.Cover {
  align-items: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 80vh;
  justify-content: center;
  max-height: 800px;
  max-width: 100%;
  min-height: 480px;
  position: relative;
  transition: all 200ms ease;
  will-change: background-image;
}
.Cover::before {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Cover::after {
  background: linear-gradient(
    rgba(var(--GakiColorBackgroundRGB), 0),
    rgba(var(--GakiColorBackgroundRGB), 1)
  );
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  height: 30%;
  z-index: 1;
}

.CoverBody {
  margin: auto;
  position: relative;
  text-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  z-index: 2;
}

.PlayButton {
}
