.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: var(--GakiGridGutter * -1);
  margin-right: var(--GakiGridGutter * -1);
}

.Row--seamless {
  margin-left: 0;
  margin-right: 0;
}

.Row--seamless .Col {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
