.EpisodeCover {
  align-items: center;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  height: 0;
  padding-bottom: 56.25%;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.EpisodeCoverBody {
}

.EpisodeCoverTitle {
}
