.EpisodeCover {
  align-items: center;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.1),
    0 12px 40px rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  height: 0;
  padding-bottom: 56.25%;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: box-shadow 200ms ease;
  width: 100%;
}

.EpisodeCover:hover {
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.2),
    0 12px 40px rgba(0, 0, 0, 0.2);
}

.EpisodeCoverBody {
}

.EpisodeCoverTitle {
}
