.EpisodeCover {
  align-items: center;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  float: left;
  margin: 20px;
  height: 240px;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: calc(33.33334% - 40px);
}

.EpisodeCoverBody {
}

.EpisodeCoverTitle {
}
